.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 12px 18px;
  border-radius: 24px;
  font-variant-ligatures: none;
  font-family: $fontMain;
  width: auto;
  height: 46px;
  text-transform: uppercase;

  @include responsive1549 {
    font-size: 17px;
    line-height: 19px;
  }

  @include responsive1023 {
    font-size: 14px;
    line-height: 16px;
    height: 40px;
  }

  &--simple {
    background-color: transparent;
    color: $colorDark;
    border-radius: 30px;
    border: 1px solid $colorDark;

    @include hover {
      background-color: $colorDark;
      color: $colorWhite;
    }

    &:active {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  &--arrow {
    @include after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.7071 8.07112C16.0976 7.6806 16.0976 7.04743 15.7071 6.65691L9.34315 0.292946C8.95262 -0.0975785 8.31946 -0.0975785 7.92893 0.292946C7.53841 0.68347 7.53841 1.31664 7.92893 1.70716L13.5858 7.36401L7.92893 13.0209C7.53841 13.4114 7.53841 14.0446 7.92893 14.4351C8.31946 14.8256 8.95262 14.8256 9.34315 14.4351L15.7071 8.07112ZM0 7.36401V8.36401H15V7.36401V6.36401H0V7.36401Z' fill='%23222222'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      width: 16px;
      height: 15px;
      transition: filter 0.3s;
    }

    @include hover {
      &:after {
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      &:after {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--arrow--big {
    @include after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 13.5L28 13.5M14.5 26L28 13.5L14.5 1' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      width: 27px;
      height: 25px;
      transition: filter 0.3s;
    }

    @include hover {
      &:after {
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      &:after {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--big {
    &:after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='40' viewBox='0 0 42 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 19.6667L40.2353 19.6667M20.6176 38.3333L40.2353 19.6667L20.6176 1' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      width: 31px;
      height: 30px;
    }

    @include hover {
      &:after {
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      &:after {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--white {
    background-color: $colorWhite;
    border: 1px solid $colorDark;

    @include hover {
      background-color: $colorDark;
      color: $colorWhite;
    }

    &:active {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  &--dark {
    background-color: $colorDark;
    color: $colorWhite;
    border-color: $colorDark;

    @include hover {
      background-color: $colorWhite;
      color: $colorDark;
    }

    &:active {
      background-color: $colorWhite;
      color: $colorDark;
    }

    &::after {
      filter: brightness(0) invert(1);
    }

    @include hover {
      &::after {
        filter: initial;
      }
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
