.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition:
    background-color 0.3s,
    color 0.3s;

  &.is-scrolled {
    background-color: $colorWhite !important;
    color: $colorDark !important;
    box-shadow: 0px 4px 8px 0px #0000002e;
    border-color: transparent !important;
    top: 0 !important;

    .logo {
      filter: brightness(0) invert(0) !important;
    }

    .link-phone {
      &::before {
        filter: brightness(0) invert(0) !important;
      }

      @include hover {
        text-decoration-color: $colorDark !important;
      }
    }

    .burger-line {
      background-color: $colorDark !important;
    }
  }

  .link-phone {
    @include responsive767 {
      margin-left: auto;
    }
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px transparent;
  padding: 24px 0;
  position: relative;

  @include responsive1549 {
    padding: 19px 0;
  }

  @include responsive1279 {
    padding: 15px 0;
  }

  @include responsive767 {
    border-bottom: 0;
    gap: 20px;
  }
}

.menu {
  font-weight: 600;
  text-transform: uppercase;

  @include responsiveMinWidth768 {
    display: flex !important;
  }

  @include responsive1279 {
    font-size: 14px;
    line-height: 16px;
  }

  @include responsive767 {
    background-color: $colorWhite;
    color: $colorDark;
    position: absolute;
    top: 51px;
    left: -16px;
    width: calc(100% + 32px);
    font-size: 20px;
    line-height: 22px;
    padding-top: 44px;
    padding-bottom: 44px;
    display: none;
    overflow: auto;
    max-height: calc(100vh - 50px);
  }

  .menu-list {
    display: flex;
    gap: 36px;

    @include responsive1549 {
      gap: 30px;
    }

    @include responsive1279 {
      gap: 20px;
    }

    @include responsive1023 {
      gap: 12px;
    }

    @include responsive767 {
      flex-direction: column;
      gap: 0;
      padding-bottom: 44px;
      padding-left: 16px;
      padding-right: 16px;
    }

    a {
      transition:
        opacity 0.3s,
        text-decoration 0.3s;

      @include hover {
        opacity: 0.7;
      }

      @include responsive767 {
        padding: 18px 0;
        display: flex;
      }
    }
  }

  .active {
    font-weight: 700;
  }
}

.menu__mobile {
  display: none;

  @include responsive767 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    padding: 0 16px;
  }

  .link-phone {
    @include responsive767 {
      margin-left: 0;

      &.isMobile {
        &::before {
          filter: brightness(0) invert(0);
        }
      }
    }
  }
}

.logo {
  cursor: pointer;
  transition: filter 0.3s;

  img {
    width: 225px;
    height: 24px;
    transform: translate(1px, 1px);

    @include responsive1549 {
      width: 200px;
      height: 22px;
    }

    @include responsive1279 {
      width: 180px;
      height: 20px;
    }

    @include responsive1023 {
      width: 158px;
      height: 17px;
    }
  }
}
