.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: $colorBlack;
}

.modal.is-open {
  display: flex;
  position: fixed;
  z-index: 20;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1050px;
  position: relative;
  margin: auto;

  @include responsive1279 {
    max-width: 730px;
  }

  @include responsive767 {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: 40px;
  top: 97px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.75 0.75L0.75 10.75M0.75 0.75L10.75 10.75' stroke='%23222222' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  width: 20px;
  height: 20px;

  @include responsive1549 {
    top: 94px;
  }

  @include responsive1279 {
    top: 82px;
    right: 30px;
  }

  @include responsive767 {
    top: 69px;
    right: 16px;
  }

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  border-radius: 9px;

  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      border-radius: 10px;
    }
  }
}

.modal__overlay {
  background-color: $colorBlack-a7;
  transition: all 0.3s;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.modal__title {
  text-transform: none;
  color: $colorBlack;
}

#popup-password {
  .modal__container {
    max-width: 608px;

    @include responsive1279 {
      max-width: 535px;
    }

    @include responsive1279 {
      max-width: 510px;
    }

    @include responsive767 {
      max-width: calc(100% - 40px);
    }
  }

  .modal__content {
    background-color: $colorWhite;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0;

    @include responsive1279 {
      padding: 30px;
    }

    @include responsive767 {
      padding: 16px;
      gap: 12px;
    }
  }

  .input-item {
    input {
      background-color: $colorLightGray;
      border-radius: 20px;
      height: 50px;
      padding: 0 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $colorDark;
      text-transform: none;

      @include responsive767 {
        font-size: 17px;
        line-height: 21px;
      }

      &::placeholder {
        text-transform: none;
      }
    }
  }
}
